/* Estilos propios */

#header{
	height: 100vh;
}

h1{
	margin-bottom:0px;
	text-align: center;
	margin-top: 25px;
}
#menu{
	border-bottom: 2px solid grey;
}
#serv_rastrigin, #serv_ackley{
	border-top: 2px solid black;	
	display: none;
}

.img .fit{
	width: 80%;
}

.style1{
	min-height: 100vh; 
	padding-top: 30px;
}
.style2{
	padding-bottom: 80px;
}


/* Botón de petición de servicio*/
.peticion{
	text-align: center;
	margin: 20px 0px;
}
#boton_peticion{
	margin: 2px 10px;
}

/* Imagen de espera mientra se realiza el servicio */
.icono_espera{
	display:none;
	position: fixed;
	top: 50vh; 
	right: 50vw; 
	width: 100px !important;
}
/* Etiqueta para la entrada de datos*/
label{
	margin: 1em 0 0 0;
}

/* Entrada de datos Ackley*/
.entrada_datos_ackley{
	display:flex;
	text-align: center;
	margin-bottom: 50px;
}
.entrada_datos_ackley div{
	width: 30vw;
}
.entrada_datos_defecto_ackley{
	border-left: 1px solid #555;
    padding-left: 10px;
    margin-left: 1px;
}
.entrada_datos_defecto_ackley input{
	width: 200px;
}

/* Botón o texto que indica que el servicio se ha realizado */
#ver_resultados_ackley, #ver_resultados_rastrigin{
	display:none;
}
.boton_resultado{
	    border: 1px solid #555;
}

/* Fecha sobre los resultados */
.fecha_peticion{
	display:flex;
}
#fecha_peticion{
	margin: 5px;
}

/* Resultados del servicio */
#muestra_resultado{
	border: 1px solid black; 
	background-color: white; 
	color:black;
	padding: 10px;
	word-wrap: break-word;
}
#muestra_resultado strong{
	color: black;
	font-size: 18px;
}
#resultados h2{
	text-align: center;
}
/* Tabla con las variables del resultado */
.table-wrapper{
	width: 50%;
    margin: 10px auto;
    text-align: center
}
.table-wrapper th{
    text-align: center
}