/* Estilos propios */

#header{
	height: 100vh;
}

h1{
	margin-bottom:0px;
	text-align: center;
}
#serv_1, #serv_2{
	border-top: 2px solid black;	
}

.img .fit{
	width: 80%;
}

.style1{
	min-height: 100vh; 
	padding-top: 30px;
}
.entrada_datos{
	display:flex;
}
.entrada_datos input{
	width: 50%;
}
#boton_peticion{
	margin: 2px 10px;
}
#ver_resultados{
	display:none;
}
.icono_espera{
	display:none; 
	position: fixed;
	top: 50vh; 
	right: 50vw; 
	width: 100px !important;
}

label{
	margin: 1em 0 0 0;
}
.entrada_datos_defecto_ackley{
	display:flex;
}
.entrada_datos_defecto_ackley div{
	width: 33%;
}
.entrada_datos_defecto_ackley input{
	width: 200px;
}
.entrada_vector_ackley{
	text-align: center;
}
.entrada_vector_ackley input{
	width: 90%;
}

.entrada_datos_defecto_ag{

}

#datos_ackley_a_calcular{

}

#ver_resultados_ackley{
	display:none;
}

.style2{
	height: 100vh;
}

.fecha_peticion{
	display:flex;
}
#fecha_peticion{
	margin: 5px;
}
#muestra_resultado{
	border: 1px solid black; 
	background-color: white; 
	color:black;
}
